@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
	/* --background: #563d7c; */
	--main: #007bff;
	/* --hover: #8570a5; */
	--hover: #0263ca;
	--white: #f3edfc;
	/* --feedback: #444; */
	--timer: #cce5ff;
	--border: #ccc;
	--timer-border: #b8daff;
	/* --time-text: #f3edfc; */
	--time-text-bg: #343a40;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	font-size: 10px;
}

body {
	background: var(--main);
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
		0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s ease;
}

/* Start button */
.start_btn button {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--main);
	padding: 1.5rem 3rem;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	background: var(--white);
	cursor: pointer;
	/* transition: all 0.3s ease; */
}

/* Info box */
.info_box {
	width: 54rem;
	background: var(--white);
	border-radius: 0.5rem;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
	z-index: 5;
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}

.info_box .info_title {
	height: 6rem;
	border-bottom: 0.1rem solid var(--border);
	display: flex;
	align-items: center;
	padding: 0 3rem;
	border-radius: 0.5rem 0.5rem 0 0;
	font-size: 2rem;
	font-weight: 600;
}

.info_box .info_list {
	padding: 1.5rem 3.5rem;
}

.info_box .info_list .info {
	margin: 0.5rem 0;
	font-size: 1.6rem;
}

.info_box .info_list .info span {
	font-weight: 600;
	color: var(--main);
}

.info_box .buttons {
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 3.5rem;
	border-top: 0.1rem solid var(--border);
}

.info_box .buttons button {
	margin: 0 0.5rem;
	height: 4rem;
	width: 10rem;
	outline: none;
	border: 0.1rem solid var(--main);
	border-radius: 0.5rem;
	color: var(--white);
	font-size: 1.6rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

.buttons button.restart, .buttons button.back {
	color: var(--white);
	background: var(--main);
}

.buttons button.restart:hover, .buttons button.back:hover {
	background: var(--hover);
}

.buttons button.quit, .buttons button.scores, .buttons button.clear {
	color: var(--main);
}

.buttons button.quit:hover, .buttons button.scores:hover, .buttons button.clear:hover {
	color: var(--white);
	background: var(--main);
}

/* Quiz box */
.quiz_box {
	width: 55rem;
	background-color: var(--white);
	border-radius: 0.5rem;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
	height: 7rem;
	z-index: 99;
	padding: 0 0.3rem;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem 0.5rem 0 0;
	box-shadow: 0 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
	font-size: 2rem;
	font-weight: 600;
	padding-left: 2.5rem;
}

.quiz_box header .timer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 14.5rem;
	height: 4.5rem;
	background-color: var(--timer);
	border: 0.1rem solid var(--timer-border);
	border-radius: 0.5rem;
	padding: 0 0.8rem;
}

.quiz_box header .time_text {
	font-weight: 400;
	font-size: 1.6rem;
	user-select: none;
}

.quiz_box header .timer .timer_sec {
	font-size: 1.8rem;
	font-weight: 500;
	background-color: var(--time-text-bg);
	height: 3rem;
	width: 4.5rem;
	color: var(--white);
	text-align: center;
	line-height: 3rem;
	border-radius: 0.5rem;
	border: 0.1rem solid var(--time-text-bg);
	user-select: none;
}

.quiz_box header {
    position: relative;
}
.quiz_box header .time_line {
	position: absolute;
	bottom: 0;
	left: 0rem;
	height: 0.3rem;
	background: var(--main);
}

.quiz_box section {
	padding: 2.5rem 3rem 2rem 3rem;
	background: var(--white);
}

.quiz_box section .question_text {
	font-size: 2.5rem;
	font-weight: 600;
}

section .option_list .option {
	background: aliceblue;
	border: 0.1rem solid #84c5fe;
	border-radius: 0.5rem;
	padding: 0.8rem 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.3s ease;
}

.quiz_box section .option_list {
	padding: 2rem 0;
	display: block;
}

section .option_list .option:hover {
	color: #004085;
	background: #cce5ff;
	border-color: #b8daff;
}

.option_list .option:last-child {
	margin-bottom: 0rem;
}

.option_list .option .icon {
	height: 2.4rem;
	width: 2.4rem;
	border: 0.2rem solid transparent;
	border-radius: 50%;
	text-align: center;
	font-size: 1.3rem;
	line-height: 2.4rem;
	pointer-events: none;
}

.option_list .option .icon.tick {
	color: #23903c;
	border-color: #23903c;
	background: #b4edda;
}

.option_list .option .icon.cross {
	color: #a4283a;
	border-color: #a4283a;
	background: #f8d7da;
}

.option_list .option.correct {
	color: #155724;
	border-color: #c3e6cb;
	background: #d4edda;
}

.option_list .option.wrong {
	color: #721c24;
	border-color: #f5c6cb;
	background: #f8d7da;
}

.option_list .option.disabled {
	pointer-events: none;
}

/* Footer */
footer {
	height: 6rem;
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 0.1rem solid var(--border);
	font-size: 1.4rem;
}

footer .total_questions span {
	display: flex;
	user-select: none;
	align-items: center;
}

footer .total_questions span p {
	font-weight: 600;
	padding: 0 0.5rem;
}

footer .total_questions span p:first-child {
	padding-left: 0rem;
}

footer .next_btn {
	display: none;
	height: 4rem;
	padding: 0 1.3rem;
	font-size: 1.8rem;
	font-weight: 400;
	border: none;
	outline: none;
	color: var(--white);
	background: var(--main);
	border-radius: 0.5rem;
	border: 0.1rem solid var(--main);
	cursor: pointer;
	transition: all 0.3s ease;
}

.next_btn:hover {
	background: var(--hover);
}

/* Result box */
.result_box {
	font-size: 1.6rem;
	background: var(--white);
	width: 45rem;
	padding: 2.5rem 3rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
	font-size: 10rem;
	color: var(--main);
	margin-bottom: 1rem;
}

.result_box .complete_text {
	font-size: 2rem;
	font-weight: 500;
}

.result_box .score_text span {
	display: flex;
	margin: 1rem 0;
	font-size: 1.8rem;
	font-weight: 400;
}

.score_text span p {
	font-weight: 600;
	padding: 0 0.4rem;
}

.result_box .buttons {
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 3.5rem;
}

.result_box .buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0.5rem;
	height: 5rem;
	width: 10rem;
	padding: 0 3.5rem;
	border: none;
	outline: none;
	font-size: 1.6rem;
	font-weight: 500;
	border-radius: 0.5rem;
	border: 0.1rem solid var(--main);
	cursor: pointer;
	transition: all 0.3s ease;
}
