@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--main: #563d7c;
	--hover: #8570a5;
	--white: #f3edfc;
	--feedback: #444;
	--border: #ccc;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	font-size: 120%;
}


